.card {
  background-color: #F8F9FA;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#links {
  background-color: white;
}

.card-title {
  font-weight: bold;
}

.d-flex {
  padding-right: 4px;
}

.flat-show-card {
  background-color: #F8F9FA;
  padding: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
